# ignore any files that have to do with outputted data
output.txt
Sample.txt
stderr.txt
stdout.txt
Output_Biomarkers.csv
FinalTotalChemVR.dat
param_opt_*.tar.gz
running_time.txt
slurm-*
generated_samples_with_outputs.csv

# need to put your own files in these
bin/* 

# will be populated by the script
output/SensitivityAnalysis/*

__pycache__/
